<main class="content">
  <section class="slider">
    <div class="slider-wrapper">
      <div class="slider-item">
        <img src="/assets/slider.jpg" alt="slider">
      </div>
      <div class="slider-navigation">
        <ul class="slider-dots_list">
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item active-dot"></li>
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item"></li>
          <li class="slider-dots_item"></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="news-titles">
      <p class="news-title">Новое на FACTORY PRICE</p>
      <a class="news-link" href="#">см. все</a>
    </div>

    <div class="news-products">

      <a class="new-product_link" href="#">
        <div class="new-product_wrapper">
          <img class="new-product" src="/assets/product-1.jpg" alt="product-1">
          <h2 class="new-product_title">Растения в горшке
            малого полива</h2>
        </div>
      </a>

      <a class="new-product_link" href="#">
        <div class="new-product_wrapper">
          <img class="new-product" src="/assets/product-2.jpg" alt="product-2">
          <h2 class="new-product_title">Новое поступление
            Германоской мебели</h2>
        </div>
      </a>

      <a class="new-product_link" href="#">
        <div class="new-product_wrapper">
          <img class="new-product" src="/assets/product-3.jpg" alt="product-3">
          <h2 class="new-product_title">Добавьте света
            в ваш интерьер</h2>
        </div>
      </a>

      <a class="new-product_link" href="#">
        <div class="new-product_wrapper">
          <img class="new-product" src="/assets/product-4.jpg" alt="product-4">
          <h2 class="new-product_title">Сделанное с
            любовью</h2>
        </div>
      </a>
    </div>
  </section>

  <section class="sale">
    <div class="sale-titles">
      <p class="sale-title">Новое на FACTORY PRICE</p>
      <a class="sale-link" href="#">см. все</a>
    </div>
    <div class="sales">

      <a class="sales-link" href="#">
        <div class="sales-wrapper">
          <div class="sales-img-wrapper">
            <img class="sales-img" src="/assets/sale-1.jpg" alt="sale-1">
            <div class="sales-inner">
              <span class="sales-inner-title">Распродажа</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="sales-description">
            <div class="sales-num">
              <span class="sales-num_title">На складе: 11</span>
            </div>
            <div class="sales-discount">
              <span class="sales-discount_title">-30%</span>
            </div>
          </div>
          <h3 class="sales-title">Название товара и его
            подробное описание</h3>
          <h3 class="sales-before">6990 ₸</h3>
          <h3 class="sales-now">2990 ₸</h3>
        </div>
      </a>

      <a class="sales-link" href="#">
        <div class="sales-wrapper">
          <div class="sales-img-wrapper">
            <img class="sales-img" src="/assets/sale-2.jpg" alt="sale-2">
            <div class="sales-inner">
              <span class="sales-inner-title">Распродажа</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="sales-description">
            <div class="sales-num">
              <span class="sales-num_title">На складе: 34</span>
            </div>
            <div class="sales-discount">
              <span class="sales-discount_title">-30%</span>
            </div>
          </div>
          <h3 class="sales-title">Название товара и его
            подробное описание</h3>
          <h3 class="sales-before">6990 ₸</h3>
          <h3 class="sales-now">12990 ₸</h3>
        </div>
      </a>

      <a class="sales-link" href="#">
        <div class="sales-wrapper">
          <div class="sales-img-wrapper">
            <img class="sales-img" src="/assets/sale-3.jpg" alt="sale-3">
            <div class="sales-inner">
              <span class="sales-inner-title">Распродажа</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="sales-description">
            <div class="sales-num">
              <span class="sales-num_title">На складе: 91</span>
            </div>
            <div class="sales-discount">
              <span class="sales-discount_title">-30%</span>
            </div>
          </div>
          <h3 class="sales-title">Название товара и его
            подробное описание</h3>
          <h3 class="sales-before">6990 ₸</h3>
          <h3 class="sales-now">8690 ₸</h3>
        </div>
      </a>

      <a class="sales-link" href="#">
        <div class="sales-wrapper">
          <div class="sales-img-wrapper">
            <img class="sales-img" src="/assets/sale-4.jpg" alt="sale-4">
            <div class="sales-inner">
              <span class="sales-inner-title">Распродажа</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="sales-description">
            <div class="sales-num">
              <span class="sales-num_title">На складе: 25</span>
            </div>
            <div class="sales-discount">
              <span class="sales-discount_title">-30%</span>
            </div>
          </div>
          <h3 class="sales-title">Название товара и его
            подробное описание</h3>
          <h3 class="sales-before">6990 ₸</h3>
          <h3 class="sales-now">1100 ₸</h3>
        </div>
      </a>

      <a class="sales-link" href="#">
        <div class="sales-wrapper">
          <div class="sales-img-wrapper">
            <img class="sales-img" src="/assets/sale-5.jpg" alt="sale-5">
            <div class="sales-inner">
              <span class="sales-inner-title">Распродажа</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="sales-description">
            <div class="sales-num">
              <span class="sales-num_title">На складе: 56</span>
            </div>
            <div class="sales-discount">
              <span class="sales-discount_title">-30%</span>
            </div>
          </div>
          <h3 class="sales-title">Название товара и его
            подробное описание</h3>
          <h3 class="sales-before">6990 ₸</h3>
          <h3 class="sales-now">6670 ₸</h3>
        </div>
      </a>
    </div>
  </section>

  <section class="parallax">
    <a class="parallax-link">
      <div class="parallax-inner">
        <img class="parallax-inner-img" src="/assets/parallax-1.jpg" alt="parallax-1">
      </div>
    </a>

    <a class="parallax-link">
      <div class="parallax-inner">
        <img class="parallax-inner-img" src="/assets/parallax-2.jpg" alt="parallax-2">
      </div>
    </a>

    <a class="parallax-link">
      <div class="parallax-inner">
        <img class="parallax-inner-img" src="/assets/parallax-1.jpg" alt="parallax-3">
      </div>
    </a>
  </section>

  <section class="popular">
    <div class="popular-titles">
      <p class="popular-title">Популярное</p>
      <a class="popular-link" href="#">см. все</a>
    </div>

    <div class="populars">

      <a class="populars-link" href="#">
        <div class="populars-wrapper">
          <div class="populars-img-wrapper">
            <img class="populars-img" src="/assets/popular-1.jpg" alt="popular-1">
            <div class="populars-inner">
              <span class="populars-inner-title">Распродажа</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="populars-description">
            <div class="populars-num">
              <span class="populars-num_title">На складе: 656</span>
            </div>
          </div>
          <h3 class="populars-title">Название товара и его
            подробное описание</h3>
          <h3 class="populars-before">6990 ₸</h3>
          <h3 class="populars-now">6670 ₸</h3>
        </div>
      </a>

      <a class="populars-link" href="#">
        <div class="populars-wrapper">
          <div class="populars-img-wrapper">
            <img class="populars-img" src="/assets/popular-2.jpg" alt="popular-2">
            <div class="populars-inner">
              <span class="populars-inner-title">Распродажа</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="populars-description">
            <div class="populars-num">
              <span class="populars-num_title">На складе: 656</span>
            </div>
          </div>
          <h3 class="populars-title">Название товара и его
            подробное описание</h3>
          <h3 class="populars-before">6990 ₸</h3>
          <h3 class="populars-now">6670 ₸</h3>
        </div>
      </a>

      <a class="populars-link" href="#">
        <div class="populars-wrapper">
          <div class="populars-img-wrapper">
            <img class="populars-img" src="/assets/popular-3.jpg" alt="popular-3">
            <div class="populars-inner">
              <span class="populars-inner-title">Распродажа</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="populars-description">
            <div class="populars-num">
              <span class="populars-num_title">На складе: 656</span>
            </div>
          </div>
          <h3 class="populars-title">Название товара и его
            подробное описание</h3>
          <h3 class="populars-before">6990 ₸</h3>
          <h3 class="populars-now">6670 ₸</h3>
        </div>
      </a>

      <a class="populars-link" href="#">
        <div class="populars-wrapper">
          <div class="populars-img-wrapper">
            <img class="populars-img" src="/assets/popular-4.jpg" alt="popular-4">
            <div class="populars-inner">
              <span class="populars-inner-title">Распродажа</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="populars-description">
            <div class="populars-num">
              <span class="populars-num_title">На складе: 656</span>
            </div>
          </div>
          <h3 class="populars-title">Название товара и его
            подробное описание</h3>
          <h3 class="populars-before">6990 ₸</h3>
          <h3 class="populars-now">6670 ₸</h3>
        </div>
      </a>

      <a class="populars-link" href="#">
        <div class="populars-wrapper">
          <div class="populars-img-wrapper">
            <img class="populars-img" src="/assets/popular-5.jpg" alt="popular-5">
            <div class="populars-inner">
              <span class="populars-inner-title">Распродажа</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="populars-description">
            <div class="populars-num">
              <span class="populars-num_title">На складе: 656</span>
            </div>
          </div>
          <h3 class="populars-title">Название товара и его
            подробное описание</h3>
          <h3 class="populars-before">6990 ₸</h3>
          <h3 class="populars-now">6670 ₸</h3>
        </div>
      </a>
    </div>
  </section>

  <section class="brand">

    <h2 class="brand-title">Предложение от брендов!</h2>

    <div class="brand-wrapper">
      <a class="brand-link">
        <div class="brand-inner">
          <img class="brand-inner-img" src="/assets/brand-1.jpg" alt="brand-1">
        </div>
      </a>

      <a class="brand-link">
        <div class="brand-inner">
          <img class="brand-inner-img" src="/assets/brand-2.jpg" alt="brand-2">
        </div>
      </a>

      <a class="brand-link">
        <div class="brand-inner">
          <img class="brand-inner-img" src="/assets/brand-1.jpg" alt="brand-1">
        </div>
      </a>
    </div>
  </section>

  <section class="discount">
    <h2 class="discount-title">Большие скидки</h2>
    <div class="discount-wrapper">
      <a class="discount-link" href="#">
        <div class="discount-block">
          <div class="discount-img-wrapper">
            <img class="discount-img" src="/assets/discount-1.jpg" alt="discount-1">
            <div class="discount-inner">
              <span class="discount-inner-title">30%</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="discount-description">
            <div class="discount-num">
              <span class="discount-num_title">На складе: 656</span>
            </div>
          </div>
          <h3 class="discounts-title">Название товара и его
            подробное описание</h3>
          <h3 class="discount-before">6990 ₸</h3>
          <h3 class="discount-now">6670 ₸</h3>
        </div>
      </a>

      <a class="discount-link" href="#">
        <div class="discount-block">
          <div class="discount-img-wrapper">
            <img class="discount-img" src="/assets/discount-2.jpg" alt="discount-2">
            <div class="discount-inner">
              <span class="discount-inner-title">30%</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="discount-description">
            <div class="discount-num">
              <span class="discount-num_title">На складе: 656</span>
            </div>
          </div>
          <h3 class="discounts-title">Название товара и его
            подробное описание</h3>
          <h3 class="discount-before">6990 ₸</h3>
          <h3 class="discount-now">6670 ₸</h3>
        </div>
      </a>

      <a class="discount-link" href="#">
        <div class="discount-block">
          <div class="discount-img-wrapper">
            <img class="discount-img" src="/assets/discount-3.jpg" alt="discount-3">
            <div class="discount-inner">
              <span class="discount-inner-title">30%</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="discount-description">
            <div class="discount-num">
              <span class="discount-num_title">На складе: 656</span>
            </div>
          </div>
          <h3 class="discounts-title">Название товара и его
            подробное описание</h3>
          <h3 class="discount-before">6990 ₸</h3>
          <h3 class="discount-now">6670 ₸</h3>
        </div>
      </a>

      <a class="discount-link" href="#">
        <div class="discount-block">
          <div class="discount-img-wrapper">
            <img class="discount-img" src="/assets/discount-4.jpg" alt="discount-4">
            <div class="discount-inner">
              <span class="discount-inner-title">30%</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="discount-description">
            <div class="discount-num">
              <span class="discount-num_title">На складе: 656</span>
            </div>
          </div>
          <h3 class="discounts-title">Название товара и его
            подробное описание</h3>
          <h3 class="discount-before">6990 ₸</h3>
          <h3 class="discount-now">6670 ₸</h3>
        </div>
      </a>

      <a class="discount-link" href="#">
        <div class="discount-block">
          <div class="discount-img-wrapper">
            <img class="discount-img" src="/assets/discount-5.jpg" alt="discount-5">
            <div class="discount-inner">
              <span class="discount-inner-title">30%</span>
            </div>
            <ul class="stars">
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/Star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/half-star.svg" alt="star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
              <li class="star-inner">
                <img class="star" src="/assets/empty-star.svg" alt="empty-star">
              </li>
            </ul>
          </div>
          <div class="discount-description">
            <div class="discount-num">
              <span class="discount-num_title">На складе: 656</span>
            </div>
          </div>
          <h3 class="discounts-title">Название товара и его
            подробное описание</h3>
          <h3 class="discount-before">6990 ₸</h3>
          <h3 class="discount-now">6670 ₸</h3>
        </div>
      </a>
    </div>
  </section>

  <section class="season">
    <h2 class="season-title">Предложение от брендов!</h2>

    <div class="season-wrapper">
      <a class="season-link">
        <div class="season-inner">
          <img class="season-inner-img" src="/assets/parallax-2.jpg" alt="parallax-2">
        </div>
      </a>

      <a class="season-link">
        <div class="season-inner">
          <img class="season-inner-img" src="/assets/parallax-1.jpg" alt="parallax-3">
        </div>
      </a>
    </div>
  </section>

</main>
