.header {
  height: 120px;
  padding-left: 20px;

  .header-wrapper-up,
  .header-wrapper-down {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-wrapper-up {

    .header-logo_link {

      .header-logo {
        width: 160px;

        padding: 14px 30px 14px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        _image {
          width: 27px;
          height: 32px;
        }

        .header-logo_title {
          font-family: 'Open Sans', serif;
          font-weight: 800;
          font-size: 18px;
          line-height: 88.5%;
          margin: 0;
        }
      }
    }

    .header-navigation {
      width: 100%;
      padding: 20px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      background-color: #759D40;

      .header-navigation_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header-navigation_list-item{
          a{
            margin-right: 20px;

            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: #fff;
          }
        }
      }

      .header-navigation_city{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header-navigation_city-logo{
          width: 14px;
          height: 20px;
        }

        select {
          width: 200px;
          height: 32px;
          padding: 5px;

          text-align: center;
          border: none;
          background:  #759D40;
          color:#fff;
          cursor:pointer;
          font-size: 14px;
          line-height: 21px;
        }

        select option{
          width: 100%;
          height: 10px;
          font-size: 14px;
          line-height: 21px;
        }
      }

      .header-navigation_account{
        display: flex;
        flex-direction: row;
        text-align: center;

        .header-navigation_account-link{
          width: 100px;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .header-navigation_account-logo{
            width: 20px;
            height: 20px;
          }

          .header-navigation_account-name{
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: #fff;
          }
        }
      }
    }
  }

  .header-wrapper-down{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 14px 13px 14px 0;
    .header-btn{
      width: 185px;
      height: 32px;
      padding: 6px 12px 6px 14px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      border: none;
      border-radius: 3px;
      background: #34B1B1;
      cursor: pointer;

      .header-btn_line{
        width: 12px;
        height: 2px;

        position: relative;
        background: #FFFFFF;
      }

      .header-btn_line:before,
      .header-btn_line:after{
        content: '';
        width: 12px;
        height: 2px;
        background: #FFFFFF;

        position: absolute;
        right: 0;
      }

      .header-btn_line:before{
        top: 4px;
      }

      .header-btn_line:after{
        bottom: 3px;
      }

      .header-btn_title{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
      }
    }
    .header-search{
      width: 1000px;

      display: flex;
      flex-direction: row;
      align-items: center;

      .header-search_input{
        height: 32px;
        width: 940px;
        padding: 6px 12px;
        background: rgba(46, 50, 56, 0.05);
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border: none;
      }

      .header-search_btn{
        width: 86px;
        height: 32px;
        padding: 6px 8px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        background: #759D40;
        border-radius: 0 3px 3px 0;
        border: none;

        .header-search_btn-img{
          width: 18px;
          height: 18px;
        }
        .header-search_btn-title{
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;

          color: #fff;
        }
      }
    }
    .header-sub-navigation{
      width: 160px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .header-sub-navigation_select, .header-sub-navigation_language{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .header-navigation_city-logo{
        width: 20px;
        height: 20px;
      }

      .header-sub-navigation_language{
        width: 80px;
      }

      select {
        width: 50px;
        height: 32px;
        padding: 5px;

        text-align: center;
        border: none;
        background:  #fff;
        color: #073561;
        cursor:pointer;
        font-size: 14px;
        line-height: 21px;
      }

      select option{
        width: 40px;
        height: 10px;
        font-size: 14px;
        line-height: 21px;
        color: #073561;
        text-align: center;
      }
    }
  }
}

.header-sub-navigation_cart-count{
  width: 14px;
  height: 14px;

  border-radius: 50%;

  background: #FF3D3D;
}

.header-sub-navigation_cart{
  position: relative;
}

.header-sub-navigation_cart-number{
  width: 14px;
  height: 14px;
  background: #FF3D3D;

  text-align: center;

  border-radius: 50%;

  position: absolute;

  top: -10px;
  right: -8px;

  font-size: 10px;

}
