<div class="header">
  <div class="header-wrapper-up">
    <a class="header-logo_link">
      <div class="header-logo">
        <img class="header-logo_image" alt="logo" src="/assets/logo.svg">
        <div class="header-logo_wrapper">
          <p class="header-logo_title blue">FACTORY</p>
          <p class="header-logo_title green">PRICE</p>
        </div>
      </div>
    </a>
    <div class="header-navigation">
      <ul class="header-navigation_list">
        <li class="header-navigation_list-item">
          <a>О нас</a>
        </li>
        <li class="header-navigation_list-item">
          <a>Описание</a>
        </li>
        <li class="header-navigation_list-item">
          <a>Преимущества</a>
        </li>
        <li class="header-navigation_list-item">
          <a>Как покупать</a>
        </li>
        <li class="header-navigation_list-item">
          <a>Как стать продавцом</a>
        </li>
        <li class="header-navigation_list-item">
          <a>Как заработать на доставке</a>
        </li>
      </ul>
      <div class="header-navigation_city">
        <img class="header-navigation_city-logo" src="/assets/city.svg" alt="city">
        <div class="header-navigation_select">
          <select name="city" id="city">
            <option value="Абай">Абай</option>
            <option value="Актбинск">Актюбинск</option>
            <option value="Алматы">Алматы</option>
            <option value="Атырау">Атырау</option>
            <option value="Атырау">Усть-Каменогорск</option>
            <option value="Атырау">Талдыкурган</option>
          </select>
        </div>
      </div>
      <div class="header-navigation_account">
        <a class="header-navigation_account-link">
          <img class="header-navigation_account-logo" src="/assets/account.svg" alt="account">
          <span class="header-navigation_account-name">Войти</span>
        </a>
      </div>
    </div>
  </div>
  <div class="header-wrapper-down">
    <button class="header-btn">
      <span class="header-btn_line"></span>
      <span class="header-btn_title">КАТАЛОГ ТОВАРОВ</span>
    </button>
    <div class="header-search">
      <input class="header-search_input" type="text" placeholder="Искать на Factory Price...">
      <button class="header-search_btn">
        <img class="header-search_btn-img" src="/assets/seacrh.svg">
        <span class="header-search_btn-title">ПОИСК</span>
      </button>
    </div>
    <div class="header-sub-navigation">
      <div class="header-sub-navigation_language">
        <img class="header-sub-navigation_language-img" alt="language" src="/assets/language.svg">
        <div class="header-sub-navigation_select">
          <select name="language" id="language">
            <option value="RU">RU</option>
            <option value="KZ">KZ</option>
            <option value="EN">EN</option>
          </select>
        </div>
      </div>
      <a class="header-sub-navigation_like">
        <img class="header-sub-navigation_like-img" alt="language" src="/assets/like.svg">
      </a>
      <a class="header-sub-navigation_cart">
        <img class="header-sub-navigation_cart-img" alt="language" src="/assets/bas.svg">
        <span class="header-sub-navigation_cart-number">7</span>
      </a>
    </div>
  </div>
</div>
