<footer class="footer">
  <div class="footer-descriptions">
    <a class="footer-logo-link">
      <div class="footer-logo">
        <img class="footer-logo_image" alt="logo" src="/assets/logo-white.svg">
        <div class="footer-logo_wrapper">
          <p class="footer-logo_title">FACTORY</p>
          <p class="footer-logo_title">PRICE</p>
        </div>
      </div>
    </a>
    <p class="footer-text">
      B2C - розничная торговая
      платформа в помощь малому
      и среднему бизнесу с полным
      циклом закрытия сделок
    </p>
  </div>

  <div class="footer-links">
    <ul class="footer-buyer">

      <li class="footer-useful_item">
        <a class="footer-useful_item-link">
          Покупателям
        </a>
      </li>
      <li class="footer-useful_item">
        <a class="footer-useful_item-link">
          Как сделать заказ
        </a>
      </li>
      <li class="footer-useful_item">
        <a class="footer-useful_item-link">
          Способы оплаты
        </a>
      </li>
      <li class="footer-useful_item">
        <a class="footer-useful_item-link">
          Доставка
        </a>
      </li>
      <li class="footer-useful_item">
        <a class="footer-useful_item-link">
          Вопросы и ответы
        </a>
      </li>
    </ul>

    <ul class="footer-useful">
      <li class="footer-useful_item">
        <a class="footer-useful_item-link">
          Полезные ссылки
        </a>
      </li>
      <li class="footer-useful_item">
        <a class="footer-useful_item-link">
          Условия возврата и гарантии
        </a>
      </li>
      <li class="footer-useful_item">
        <a class="footer-useful_item-link">
          Гид покупателя
        </a>
      </li>
    </ul>

    <ul class="footer-company">
      <li class="footer-company_link">
        <a class="footer-useful_item-link">
          Компания
        </a>
      </li>
      <li class="footer-company_link">
        <a class="footer-useful_item-link">
          Подарочные промокоды
        </a>
      </li>
      <li class="footer-company_link">
        <a class="footer-useful_item-link">
          Отзывы и предложения
        </a>
      </li>
    </ul>
  </div>

  <div class="footer-socials">
    <ul class="footer-socials_list">
      <li>
        <a class="footer-socials_link">
          <img>
        </a>
      </li>
    </ul>
  </div>

</footer>
